<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %} Login Rede Social {% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link href="https://fonts.googleapis.com/css?family=Ranga|Roboto+Slab" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">  
</head>
<body>    
    <div class="container">
    <h1>Social Auth do django!!</h1>
        {% block content %}{% endblock %}
		
	</div>	
</body>
</html>
